127.0.0.1  localhost {{inventory_hostname}}
127.0.1.1	ubuntu

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
10.110.68.36    dev-namenode
10.110.68.37    dev-snamenode
10.110.68.38    dev-datanode01
10.110.68.39    dev-datanode02
10.110.68.40    dev-datanode03
10.110.68.41    dev-datanode04
10.110.68.42    dev-datanode05
10.110.68.43    dev-datanode06